/* 清空元素浏览器默认的属性值 */
*{
    margin: 0;
    padding: 0;
}
/* 设置页面显示的字体大小/背景色 */
body{
    font-size: 13px;
    background-color:#F2F2F0;
}
/* 消除列表元素默认的样式 */
ul{
    list-style-type: none;
}
/* 清除超级链接的下划线 */
a{
    text-decoration: none;
    color:#E8F5EC;
}
/* 焦点颜色样式定义 */
.focus{
    color: #b8eaee !important;
}
/*导航栏样式*/
